{% block content %}
<div class="container mt-4">
    <h2 class="text-center">Tus Cursos Inscritos</h2>
    <h3 class="mt-4">Tus Cursos</h3>
    <ul class="list-group">
        <li class="list-group-item">
            <strong>Nombre Completo:</strong> {{ user.get_full_name }}
        </li>
        {% for curso in cursos %}
            <li class="list-group-item">
                <h5>{{ curso.nombre }}</h5>
                <p><strong>Instructor:</strong> {{ curso.instructor }}</p>
                <p><strong>Fecha de Inicio:</strong> {{ curso.fecha_inicio }}</p>
            </li>
        {% empty %}
            <li class="list-group-item">No estás inscrito en ningún curso.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
