
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataforma</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <!-- Barra de navegación -->
<div class="navbar">
    <div class="navbar-container">
        <a href="/" class="logo">Mi Sitio</a>
        <ul class="nav-links">
            <li><a href="/">Inicio</a></li>
            <li><a href="/perfil/">Perfil</a></li>
            <!-- Formulario de logout -->
            
        </ul>
    </div>
</div>


    {% block content %}
    {% endblock content %}

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>
